<div id="header">
  <h1>Train-Reservation</h1>
</div>
<div id="main">
  <div class="left-main">
    <ng-container *ngFor="let i of range(1,81,7)">
      <div class="row">
        <ng-container *ngFor="let j of range(i,i+7,1)">
          <div class="row-item" *ngIf="j<=80" [attr.id]="'item_'+ j">{{j}}</div>
        </ng-container>
      </div>
    </ng-container>
  </div>
  <div class="right-main">
    <form>
    <label for="seats">No of seats you want to book:</label><br><br>
    <input type="number" id="lname" name="lname" min="1" max="7" [(ngModel)]="userseats"><br><br>
    <input type="submit" value="Submit" id="submit" (click)="onsubmit()">
    </form>
  </div>
</div>